/*
.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
*/


.search-form__item {
    height: 40px;
    display: flex;
    justify-content: center;    /* 横方向の中央揃え */
    /* margin-bottom: 150px; */
}

.search-form-kw__item-input {
    width: 280px;
    text-align: center;
    margin-right: 20px;
    background-color: #fcfcfc;
}
.search-form-gd__item-input {
    width: 60px;
    text-align: center;
    margin-right: 20px;
    background-color: #f5f5f5;
}
.search-form-ca__item-input {
    width: 160px;
    text-align: center;
    margin-right: 20px;
    background-color: #f5f5f5;
}
.search-form-dt__item-input {
    width: 120px;
    text-align: center;
    margin-right: 20px;
    background-color: #f5f5f5;
}
.search-form-srh__button-submit {
    width: 80px;
    text-align: center;
    margin-right: 20px;
    background-color: #80776a;
    color: #ffffff;
}
.search-form-rst__button-submit {
    width: 80px;
    text-align: center;
    background-color: #d9c5b5;
    color: #ffffff;
}


.search-form__pagenation {
    position: absolute;    /* 位置指定のため必須 */
    left: 75%;    /* 中央を画面の60%に置く基準位置 */
    transform: translateX(-50%);    /* 自分の幅の半分だけ左に戻す */
}

.contact-table {
    margin-top: 120px;
}













/* ページネーション用ページ遷移のスタイル */
svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}

/* モーダルのスタイル */
.modal {
    display: none;
    /* 初期は非表示 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明背景 */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}