/*
.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
*/


.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.contact-form__group {
    display: grid;
    align-items: center;
    margin-top: 32px;

    grid-template-columns: 1fr 2fr;
}

.contact-form__required {
    color: #FF9494;
}

.contact-form__input {
    padding: 8px 16px;
    background-color: #F4F4F4;
    color: #BEB1A6;
}

.contact-form__name-inputs,
.contact-form__tel-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 32px;
}

.contact-form__name-input {
    width: 100%;
}

/* エラーメッセージ */
.contact-form__error-message {
    margin-top: 8px;
    color: #FF9494;

    grid-column: 2;
}

.contact-form__name-group .contact-form__error-message {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 32px;
}

.contact-form__error-message-first-name,
.contact-form__error-message-last-name {
    width: 100%;
}


.contact-form__input--radio {
    display: flex;
    justify-content: left;
}
.contact-form__gender-option {
    margin-right: 64px;
}






.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: #aaa;
}


.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__input--radio input {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}